openapi: 3.0.0
info:
  title: API - Account  V1
  description: "<sup>(ES)</sup>API para consultar cuentas de un cliente.<br>\n<sup>(EN)</sup>API to get customer account.<br><br><br>\n<b>• Área de Negocio <small>¦ Business Area </small>:</b></b> `Sales and Services`<br><br>\n<b>• Dominio de Negocio <small>¦ Business Domain </small>:</b> `Customer Management`<br><br>\n<b>• Dominio de Servicio <small>¦ Service Domain </small>:</b> `Customer Product and Service Directory`<br><br>  \n"
  contact:
    name: Hugo Sacaquirin
    email: hsacaqui@emeal.nttdata.com
  version: 1.0.1
servers:
  - url: http://service-account.cluster.local
    description: Development
  - url: http://service-account.cluster.local
    description: Test
  - url: http://service-account.cluster.local
    description: Production
tags:
  - name: Account
    description: Account Controller
paths:
  /account/v1/retrieve/{idCustomer}:
    get:
      tags:
        - Customer Account
      summary: "⁽ᴱˢ⁾ Se envia un cedula de producto y devuelve las cuentas. \n⁽ᴱᴺ⁾ Number identificaction is sent for returned account.\n"
      description: "### Details:\n<sup>(ES)</sup> Se envia un cedula de producto y devuelve las cuentas.⠀<br>\n<sup>(EN)</sup>⠀Number identificaction is sent for returned account.<br><br>  \n"
      operationId: GetCustomerAccountRetrieve
      parameters:
        - name: idCustomer
          in: path
          description: ID of customer that needs to be get
          required: true
          schema:
            type: string
        - name: x-guid
          in: header
          description: "Mechanism that allows to record and indetify a transaction from its origin to its destination. It allows to maintain traceability, it must be generated for each request."
          required: false
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/Guid'
      responses:
        "200":
          description: |
            <b>`OK`</b><br><br>
             <sup>(ES)</sup>⠀Transaccion realizada correctamente.<br>
             <sup>(EN)</sup>⠀Transaction completed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAccountRetrieveResponse'
              examples:
                PostAccountRetrieveResponseExample:
                  $ref: '#/components/examples/PostAccountRetrieveResponseExample'
        "400":
          description: |-
            <b>`Bad Request`</b><br><br>
            The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        "401":
          description: |-
            <b>`Unauthorized`</b><br><br>
            The request requires user authentication.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ErrorModel'
components:
  schemas:
    PostAccountRetrieveResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
    Account:
      type: object
      properties:
        number:
          maxLength: 10
          pattern: "^[0-9]+$"
          type: string
          description: <sup><i>(ES)</i></sup> Numero de cuenta.<br><br><sup><i>(EN)</i></sup> Number Account.
          example: "01002"
        typeAccount:
          type: string
          description: <sup><i>(ES)</i></sup> Tipo de cuenta.<br><br><sup><i>(EN)</i></sup> Account Type.
          example: "01002"
        amount:
          type: integer
          description: <sup><i>(ES)</i></sup> Monto de la cuenta.<br><br><sup><i>(EN)</i></sup> Account amount.
          example: "100"

    Guid:
      type: string
      example: 550e8400-e29b-41d4-a716-446655440000
    ErrorModel:
      type: object
      properties:
        title:
          maximum: 50
          type: string
          description: |-
            <sup><i>(ES)</i></sup> Mensaje de error técnico.
            <br>
            <sup><i>(EN)</i></sup> Technical error message
          example: Internal Server.
        detail:
          maximum: 50
          type: string
          description: |-
            <sup><i>(ES)</i></sup> Mensaje a presentar al cliente, o error a detalle del evento
            <br>
            <sup><i>(EN)</i></sup> Message to display to the client, or error detailing the event
          example: "Se produjo un error interno, lo estamos revisando."
  responses:
    BadRequest:
      description: |-
        <b>`Bad Request`</b><br><br>
        The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.
      content:
        application/json;charset=UTF-8:
          schema:
            $ref: '#/components/schemas/ErrorModel'
    Unauthorized:
      description: |-
        <b>`Unauthorized`</b><br><br>
        The request requires user authentication.
      content:
        application/json;charset=UTF-8:
          schema:
            $ref: '#/components/schemas/ErrorModel'

  parameters:
    x-guid:
      name: x-guid
      in: header
      description: "Mechanism that allows to record and indetify a transaction from its origin to its destination. It allows to maintain traceability, it must be generated for each request."
      required: false
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/Guid'

  examples:
    PostAccountRetrieveResponseExample:
      value:
        accounts:
          - number: "001"
            typeAccount: Ahorros
            amount: 1000
          - number: "002"
            typeAccount: Corriente
            amount: 2000




